*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.backup
*.css
*.cache
.*ignore
!.gitignore
go.work
.env
.vimrc
.aliases
tmp
private
dist/
node_modules/
app/package.json
app/package-lock.json
scripts/_*.sh
!app/sample.custom.css
!app/client/assets/css/uPlot.min.css
.air.toml
