:root {
  --color-terminal-background: #000000;
  --color-terminal-base: #ffffff;
  --color-terminal-accent: #4af626;
  --color-terminal-accent-selected: #73f859;
  --color-terminal-hover: rgba(255, 255, 255, 0.15);
  --color-terminal-border: #ffffff;
  --color-terminal-danger: #ff0000;
  --color-terminal-warning: #f67e26;
  --color-terminal-accent-alternative: #26e1f6;
  --color-terminal-log-row-alternative: #222;
  --color-terminal-json-key: darkturquoise;
  --color-terminal-json-value: beige;
  --color-terminal-cell-failure: #ff9999;
  --color-terminal-cell-success: #9bff99;
  --color-terminal-cell-paused: beige;
}

[data-theme='moon'] {
  --color-terminal-background: hsl(249deg, 22%, 12%);
  --color-terminal-base: hsl(245deg, 50%, 91%);
  --color-terminal-accent: hsl(35deg, 88%, 72%);
  --color-terminal-accent-selected: hsl(35deg, 88%, 72%);
  --color-terminal-hover: hsl(249deg, 15%, 28%);
  --color-terminal-border: hsl(245deg, 50%, 91%);
  --color-terminal-danger: #eb6f92;
  --color-terminal-warning: #f6c177;
  --color-terminal-accent-alternative: #9ccfd8;
  --color-terminal-log-row-alternative: #302c44;
  --color-terminal-json-key: #f6c177;
  --color-terminal-json-value: #c4a7e7;
  --color-terminal-cell-failure: #eb6f92;
  --color-terminal-cell-success: #81f383;
  --color-terminal-cell-paused: #fe843d;
}

[data-theme='dawn'] {
  --color-terminal-background: hsl(32deg, 57%, 95%);
  --color-terminal-base: hsl(248deg, 19%, 40%);
  --color-terminal-accent: hsl(35deg, 81%, 56%);
  --color-terminal-accent-selected: hsl(35deg, 81%, 56%);
  --color-terminal-hover: hsl(10deg, 9%, 86%);
  --color-terminal-border: hsl(248deg, 19%, 40%);
  --color-terminal-danger: #f15050;
  --color-terminal-warning: #ff8142;
  --color-terminal-accent-alternative: #2186f3;
  --color-terminal-log-row-alternative: #f0dac2;
  --color-terminal-json-key: #2186f3;
  --color-terminal-json-value: #129fa1;
  --color-terminal-cell-failure: #f15050;
  --color-terminal-cell-success: hsl(123, 81%, 35%);
  --color-terminal-cell-paused: #ff8142;
}
